@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
:root {
  --clr-background: #f4f4f4;
  --clr-background2: #dddddd;
  --clr-background-btn-cta: #212220;
  --font-roboto: "Roboto Mono", monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}
body {
  overflow-x: hidden;
}
.btn-cta {
  color: aliceblue;
  font-weight: 200;
  background-color: var(--clr-background-btn-cta);
  padding: 15px;
  border: none;
  border-radius: 5px;
}
/****** HEADER **********/
header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: var(--clr-background);
  height: 10vh;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  transform: scale(1.1);
}
.logo {
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 400;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/****** SECCION TITULO **********/
main {
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-background);
}
.ts-info {
  padding: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.titulo {
  font-size: 3em;
}
.ts-img-container {
  width: 50%;
  display: grid;
  place-items: center;
}
/****** COLUMNA DE VALORES **********/
.valores {
  background-color: var(--clr-background2);
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.valores-casos {
  display: flex;
  align-items: center;
}
.valores-casos {
  font-weight: 600;
}
.bi-check {
  font-size: 1.5em;
}
/****** SECCION RIESGOS **********/
.riesgos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-background);
}
.riesgos-img-container {
  padding: 50px;
}
.riesgos-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.riesgos-info-container ul {
  list-style-position: inside;
}
/****** COLUMNA DE PROPUESTAS **********/
.propuesta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-background2);
  padding-block: 50px;
  gap: 2em;
}
.propuesta h2 {
  padding-top: 50px;
}
.props-card-container {
  display: flex;
  justify-content: space-evenly;
}
.prop-card {
  width: 25%;
}
.prop-card img {
  width: 100%;
}
.prop-card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
/********************** SECCIÓN DISEÑOS DE GUÍA ****************/
.designs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-background);
  padding-block: 100px;
  gap: 2em;
}
.design-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 1em;
  text-align: center;
}
.clients-logos-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
/********************** SECCIÓN PAQUETES Y PRECIOS ****************/
.paquetes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 100px;
  gap: 3.5em;
  background-color: var(--clr-background2);
}
.precios-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-precios {
  display: flex;
  width: 25%;
  flex-direction: column;
  text-align: center;
  gap: 1.3em;
}
.card-precios-title {
  font-weight: bold;
}
.card-precios span {
  font-size: 3em;
}
/********************** SECCIÓN PLANTILLA DE PLAN ****************/
.plan-container {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  align-items: center;
  padding-inline: 20px;
  background-color: var(--clr-background);
}
.plan-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.card-plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 200px;
  gap: 2em;
}

.plan-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
/********************** SECCIÓN PARRAFO EXPLICATIVO ****************/
.parrafo-explicativo {
  padding-block: 100px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--clr-background2);
}
.info-pe {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}
/********************** SECCIÓN MAPA ****************/
.mapa {
  padding-block: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-background);
}
.info-lugar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/********************** FOOTER ****************/
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-head {
  display: flex;
  flex-direction: row;
}
.footer-redes {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: flex;
  flex-direction: row;
}
.footer-copyright {
  display: flex;
  gap: 0.5em;
}
/******************************************************************************************/
/*****************************************************************************************/
/**************** media queries ********************/

@media screen and (max-width: 780px) {
  header {
    padding-inline: 20px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: rgb(8, 12, 12);
  }

  .cerrar-menu {
    color: purple;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-background);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
    padding-right: 0;
  }

  .nav-list li a {
    color: black;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.5em;
  }
  main {
    flex-direction: column;
  }
  .ts-info {
    padding: 20px;
    width: 100%;
  }
  .titulo {
    font-size: 2em;
  }
  .ts-img-container {
    width: 100%;
    height: 45vh;
  }
  .ts-img-container img {
    max-width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding-left: 50px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
